<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h3>게시글</h3>
        <ul>
            <li>글번호 <%= detail.id%></li>
            <li>제목 : <%= detail.title%></li>
            <li>글작성자 : <%= detail.anthor%></li>
            <li>글작성일 : <%= detail.date%></li>
            <li>내용 : <%= detail.content%></li>
        </ul>
        <button onclick="location.href='/edit/<%= detail.id%>'" data-id="<%= detail.id%>">수정</button>
        <button onclick="location.href='/posts'">목록</button>
        <button>삭제</button>
    </main>
</body>
</html>